<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <app-nav-bar></app-nav-bar>

    <!-- /.navbar -->

    <app-side-bar></app-side-bar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Test</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="add-symptome">add new</a></li>
              </ol>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- Info boxes -->
          <br>
          <!-- /.row -->

          <!-- /.row -->

          <!-- Main row -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Symptome</h3>
              <div class="card-tools">
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="collapse"
                  title="Collapse">

                  <i class="fas fa-minus"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-tool"
                  data-card-widget="remove"
                  title="Remove"
                >
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <table class="table table-striped">
                <thead>
                  <tr>

                    <th style="width: 8%">Symptome</th>
                    <th style="width: 8%">Chest Pain Type</th>
                    <th style="width: 20%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let symptome of Symptomes| paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index">

                    <td>{{ symptome.Symptomes_ID }}</td>
                    <td>{{ symptome.ChestPainType }}</td>
                    <td class="project-actions text-right">

                      <a class="btn btn-info btn-sm" href="/edit-symptome/{{symptome.Symptomes_ID}}">
                        <i class="fas fa-pencil-alt"></i> Edit
                      </a>
                      <a class="btn btn-danger btn-sm" (click)="delete(symptome.Symptomes_ID, 1)">
                        <i class="fas fa-trash"></i> Delete
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>

            <!-- /.row -->
          </div>
          <!--/. container-fluid -->
        </div>
      </section>
      <!-- /.content -->

      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->

      <!-- /.control-sidebar -->
    </div>
  </div>
  <!-- ./wrapper -->
</body>
